#!/bin/bash
rm "{{ ipajoin_bin_location }}"

systemctl  unmask systemd-resolved
systemctl enable --now systemd-resolved


if [[ -f /etc/ipa/ca.crt ]]
then
  userdel --force cloud-user
  userdel --force fedora
fi

systemctl disable --now ipajoin.service

