[Unit]
Description=Restore IPTables configuration

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c '/usr/sbin/iptables-restore < {{ iptables_config_path }}'

[Install]
WantedBy=multi-user.target

