PRIMARY_HOST_BASE_URL=http://{{ groups['master'][0] }}.{{ dns_zone }}
PRIMARY_HOST_PASSWORD={{ pihole_webpassword }}
{% for host in groups['backup'] %}
SECONDARY_HOSTS_{{ loop.index }}_BASE_URL=http://{{ host}}.{{ dns_zone }}
SECONDARY_HOSTS_{{ loop.index }}_PASSWORD={{ pihole_webpassword }}
{% endfor %}
