#cloud-config
package_upgrade: true
packages:
  - qemu-guest-agent

timezone: Australia/Sydney
users:
  - name: {{ ansible_user }}
    groups: [adm, cdrom, dip, plugdev, lxd, sudo]
    lock-passwd: false
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - {{ ssh_pub_key }}

power_state:
    delay: now
    mode: reboot
    message: Rebooting after cloud-init completion
